#LeftBar {
  background-color: #f5e9d7;
  max-width: 350px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
}
.header {
  position: relative;
  display: block;
  height: 130px;
  padding-bottom: 50px;
}
#title {
  display: inline-block;
  transform: scale(1, 1);
}
h1 {
  font-size: 53px;
  color: #266a56;
  font-weight: 400;
}
h3 {
  font-size: 27px;
  color: #266a56;
  margin: -26px 20px;
  font-weight: 600;
}
hr {
  width: 80%;
  color: #e1d6c4;
  background-color: #e1d6c4;
  border: 0;
  margin: 0 auto;
  height: 3px;
}
.Visibillity {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.Visibillity button {
  max-width: 155px;
}
#LeftBar button {
  display: flexbox;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-family: "Cinzel", serif;
  color: #266a56;
  border: 0;
  text-align: center;
  background-color: #f5e9d7;
  padding-left: 3px;
  padding-right: 3px;
}
#LeftBar button:hover {
  background-color: #e2d8ca;
}
.s {
  margin: 0 auto;
  width: 92%;
}
.searchBox {
  width: 100%;
  margin: 15px auto;
  display: inline-flex;
}
.searchBox img {
  width: 60px;
  height: 60px;
  border: 2px solid #266a56;
}
.searchBox img:hover {
  border: 2px solid #1e5041;
}
.searchBox input {
  width: 80%;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 30px;
  color: #beaf96;
  border: 2px solid #266a56;
  border-radius: 0;
  background-color: #f5e9d7;
  outline: none;
}
::placeholder {
  color: #beaf96;
}
.searchBox input:focus {
  border: 2px solid #1f5a48;
}
.Filters {
  width: 92%;
  margin: 0 auto;
}
.group {
  font-size: 26px;
  color: #266a56;
  font-weight: 600;
}
.Filter {
  padding-bottom: 15px;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 336px;
  display: flex;
  justify-content: space-between;
  color: #266a56;
}
.version {
  position: absolute;
  font-size: 16px;
  bottom: 0px;
}
.creditsBox {
  text-align: center;
  margin-left: 50%;
  font-size: 14px;
}
.creditsTitle {
  font-size: 16px;
}
ul {
  list-style: none;
}
li {
  margin-left: 15px;
  color: #266a56;
  font-size: 22px;
  font-weight: 600;
}
.LocBtnVisible {
  display: block;
}
.LocBtnHidden {
  display: block;
  opacity: 50%;
}
.Filter button:focus {
  outline: none;
}
