@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Cinzel", serif;
  overflow-y: hidden;
}
#main {
  display: flex;
}
img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png"]
{
  display: none !important;
}
.gmnoprint {
  display: none !important;
}
