.GoogleScreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background: rgba(38, 106, 86, 0.6);
  backdrop-filter: blur(45px);
  text-align: center;
}
.GoogleScreen h1 {
  color: #266a56;
  font-size: 170px;
}
.GoogleScreen h3 {
  color: #266a56;
  font-size: 80px;
  margin-top: -80px;
  margin-left: -8%;
}
.GoogleScreen button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-top: 50px;
}
